body {
  color: #222;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 0px;
  background-image: url('gplaypattern.png');
  background-size: repeat;
}

body#home {
  background-image: url('food2.jpg');
  background-size: cover;
}

h1 {
  color: #fff;
  font-family: 'Fugaz One', cursive;
  font-size: 44px;

  margin: 18px 0px 58px 40px;
}

p {
  margin: 0px;
}

p.strong {
  font-size: 40px;
}

p.subtitle {
  font-size: 24px;
}

.navbar {
  background-color: #4DBD33;
  padding: 15px 55px;
  margin-bottom: 30px;
}

.navbar h1 {
  font-size: 24px;
  margin: 0px 0px 0px 10px;
}

.navbar a:hover {
  text-decoration: none;
}

.navbar-header {
  background-color: inherit;
}

div#nav-contents #nav-links {
  background-color: inherit;
  color: #fff;
  float: right;
  font-size: 16px;
  padding: 6px 30px;
}

div {
  background-color: #fff;
}

div#home {
  padding-bottom: 18px;
  padding-top: 24px;
}

div#home-content {
  margin-left: 40px;
}

div#order {
}

div.moreinfo {
  font-size: 18px;
  padding: 14px 30px 4px 65px;
}

div.page-content {
  margin: auto;
  padding: 39px 40px 55px;
}

div.unsupportedbox {
  padding: 39px 20px 55px 91px;
  width: 580px;
}

div.loginbox {
  padding: 25px 0px 30px 50px;
  width: 492px;
}

nav a {
  text-decoration: none;
}

form {
  margin-bottom: 0px;
  margin-top: 20px;
}

form input.zip {
  width: 100px;
}

form input, button {
  border: 1px solid #aaa;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;

  font-size: 18px;
  height: 40px;
  padding: 16px 10px;
}

form input[type='submit'], form button {
  border: 1px solid #CD1815;
  background-color: #E41B17;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
  padding: 7px 14px 7px 12px;

  # Removes blue glow
  outline: none;
  border:none !important;
  box-shadow:none !important;
}

form input[type='submit']:hover, button:hover {
  background-color: #CD1815;
}

button.clicked {
  cursor: auto;
}

form.waitlist button {
  width: 500px;
}

form.login button {
  margin: 10px 3px;
  width: 426px;
}

form div {
  display: inline;
}

i.fa-padding {
  padding-right: 8px;
}
