body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 26px;
  color: #222;

  background-image: url('food2.jpg');
  background-size: cover;

  margin-left: 0px;
  margin-right: 0px;
}

h1 {
  font-family: 'Fugaz One', cursive;
  font-size: 44px;
  color: #fff;
  #text-shadow: 2px 2px 0 #000,
  #             -1px -1px 0 #000,
  #             1px -1px 0 #000,
  #             -1px 1px 0 #000,
  #             1px 1px 0 #000;

  margin: 0px 0px 46px 40px;
}

p {
  margin: 0px;
}

p.strong {
  font-size: 40px;
}

div {
  padding: 20px 0px 20px 80px;
}

div.moreinfo {
  font-size: 18px;
  padding: 0px inherit;
}

div#content {
  background-color: #fff;
  padding-bottom: 30px;
}

form.front-login {
  margin-bottom: 0px;
  margin-top: 20px;
}

input {
  border: 1px solid #999;
  border-radius: 2px;

  font-size: 18px;
  height: 40px;
  padding: 16px 10px;
}

input[type="submit"] {
  border: 1px solid #CD1815;
  background-color: #E41B17;
  color: white;
  display: inline-block;
  padding: 7px 14px 7px 12px;
}

input[type="submit"]:hover {
  background-color: #CD1815;
}
