body {
  color: #222;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 26px;
  margin: 0px;
}

body#home {
  background-image: url('food2.jpg');
  background-size: cover;
}

h1 {
  color: #fff;
  font-family: 'Fugaz One', cursive;
  font-size: 44px;

  margin: 0px 0px 46px 40px;
}

p {
  margin: 0px;
}

p.strong {
  font-size: 40px;
}

div {
  padding: 20px 0px 20px 80px;
}

div#content {
  background-color: #fff;
  padding-bottom: 30px;
}

div#nav-contents {
  background-color: #4DBD33;
  padding: 15px 0px 15px 55px;
}

div#nav-contents h1 {
  font-size: 24px;
  margin: 0px 0px 0px 10px;
}

div#progress {
  display: block;
  margin: 30px auto;
  padding: 0px;
  width: 30%;
}

div.moreinfo {
  font-size: 18px;
  padding: 0px 30px 0px 65px;
}

nav a {
  text-decoration: none;
}

form.front-login {
  margin-bottom: 0px;
  margin-top: 20px;
}

input {
  border: 1px solid #999;
  border-radius: 2px;

  font-size: 18px;
  height: 40px;
  padding: 16px 10px;
}

input[type="submit"] {
  border: 1px solid #CD1815;
  background-color: #E41B17;
  color: white;
  display: inline-block;
  padding: 7px 14px 7px 12px;
}

input[type="submit"]:hover {
  background-color: #CD1815;
}

progress {
  width: 100%
}
