body {
  color: #444;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 0px;
  background-color: #EEFBF5;
}

@media (max-width: 480px) {
  body {
    background-image: none;
  }
}

body#home {
  background-image: url('food2.jpg');
  background-size: cover;
  color: #333;
}

h1 {
  color: #fff;
  font-family: 'Fugaz One', cursive;
  font-size: 44px;

  margin: 18px 0px 58px 40px;
}

@media (max-width: 767px) {
  h1 {
    padding-top: 7px;
  }
}

h2 {
  color: #444;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 40px;
  text-align: center;
}

h3 {
  color: #333;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin-right: 20px;
  padding-top: 6px;
}

p {
  margin: 0px;
}

p.strong {
  font-size: 40px;
}

p.subtitle {
  font-size: 24px;
}

.navbar {
  background-color: #4ABB7D;
  padding: 15px 55px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .navbar {
    padding: 12px 44px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px 12px;
  }
}

.navbar h1 {
  font-size: 24px;
  margin: 0px 0px 0px 4px;
}

.navbar a:hover {
  text-decoration: none;
}

.navbar-header {
  background-color: inherit;
}

button.navbar-toggle {
  width: auto;
}

#navbar-collapse {
  background-color: inherit;
  color: #fff;
  float: right;
  font-size: 19px;
}

nav a {
  text-decoration: none;
}

div#nav-contents #nav-links {
  background-color: inherit;
  color: #fff;
  float: right;
  font-size: 16px;
  padding: 6px 30px;
}

div {
  background-color: #fff;
}

div#home {
  padding-bottom: 18px;
  padding-top: 12px;
}

div#home-content {
  margin-left: 40px;
}

div#order-box {
  background-color: #eee;
  border-radius: 3px;
  margin: 60px auto 100px;
  padding: 6px;
  width: 312px;
}

div#ordering-progress {
  background-color: #eee;
  color: #ccc;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 48px;
  width: 300px;
}

span.food-prog-cur {
  color: #555;
  font-weight: bold;
}

div#order {
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 14px;
  width: 300px;
}

div#order-buttons {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

div#collapse-del-addr {
  margin-bottom: 20px;
}

div.page-content {
  padding: 20px inherit;
}

div.moreinfo {
  font-size: 18px;
  padding: 14px 30px 4px 65px;
}

div.blurb {
  margin: auto;
  padding: 39px 40px 55px;
}

div.unsupportedbox {
  padding: 39px 20px 55px 91px;
  width: 580px;
}

div.loginbox {
  padding: 25px 0px 30px 50px;
  width: 492px;
}

form {
  margin-bottom: 0px;
}

span.dollar-sign {
  color: #269EAD;
  font-size: 17px;
  margin-left: 12px;
}

div#budget-div {
  border: 1px solid #269EAD;
  border-radius: 4px;
  margin-bottom: 4px;
}

input#budget {
  background-color: #fff;
  border: none;
  color: #269EAD;
  display: inline;
  font-size: 17px;
  height: 40px;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-shadow: none;
  width: 161px;
}

input#find-food {
  margin-top: 16px;
}

form input, button {
  border: 1px solid #aaa;
  color: #444;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;

  font-size: 17px;
  height: 40px;
  margin-bottom: 4px;
  padding: 16px 10px;
  width: 100%;
}

form input[type='submit'], form button {
  background-color: #E74C54;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 7px 14px 7px 12px;
  width: 100%;

  # Removes blue glow
  outline: none;
  border:none !important;
  box-shadow:none !important;
}

form input[type='submit']:hover, button:hover {
  background-color: #D0444C;
}

form button.add-info {
  background-color: #6BC971;
  width: 100%;
}

form button.add-info:hover {
  background-color: #60B566;
}

button.clicked {
  cursor: auto;
}

button#new-del-addr {
  margin-top: 10px;
}

form.waitlist button {
  width: 500px;
}

form.login button {
  margin: 10px 3px;
  width: 426px;
}

span.button-contents {
  float: left;
}

i.fa-padding-right {
  padding-right: 8px;
}

i.fa-padding-both {
  padding: 0px 11px;
}

i.xsmall {
  font-size: 12px;
}

 ul.parsley-error-list {
  color: #E74C54;
  float: left;
  font-size: 14px;
  list-style-type: none;
  margin-bottom: 7px;
  padding-left: 0px;
}

a#cancel-new-del-addr {
  color: #444;
  float: right;
  font-size: 14px;
}
