body {
  font-family: 'Trebuchet', sans-serif;
  font-size: 26px;
  color: black;

  background-image: url('food2.jpg');
  background-size: cover;

  width: 851px;
  margin-left: 0px;
}

h1 {
  font-family: 'Fugaz One', cursive;
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 0 #000,
               -1px -1px 0 #000,
               1px -1px 0 #000,
               -1px 1px 0 #000,
               1px 1px 0 #000;

  margin: 20px 0px 66px 40px;
}

p {
  margin: 0px;
}

div {
  margin: 0px 70px 20px 0px;
  padding: 20px 10px 20px 80px;
}

div.moreinfo {
  font-size: 22px;
}

div#content {
    background-color: white;
    opacity: 0.9;

    border-radius: 0 3 3 0;
}

div#order-now {
  border: 1px solid #CD1815;
  border-radius: 2px;

  background-color: #E41B17;
  display: inline-block;
  margin: 0px 57px 20px 80px;
  padding: 7px 14px 7px 12px;
}

a#order-now-link {
  color: white;
}

div#order-now:hover {
  background-color: #CD1815;
}
