html
  head
    include head_links
    link(href='css/index.css', rel='stylesheet')
  body#home
    h1 nomm!
    #home
      #home-content
        p.strong
          span.xsmall-header
            | Delicious delivery
          span.xsmall-subheader
            |  for busy people like you
        span.xsmall-hidden-content
          p.
            Tell us when you're hungry and we'll do the rest:
          .moreinfo
            ul.fa-ul
              li
                i.fa-li.fa.fa-check-square
                | We'll
                strong  find
                |  a top-rated restaurant
              li
                i.fa-li.fa.fa-check-square
                | We'll
                strong  order
                |  food you'll love
              li
                i.fa-li.fa.fa-check-square
                | We'll
                strong  deliver
        p.xsmall-content Food at your door in 1 tap
        form.front-login(parsley-validate='')
          input.index(type='email', name='email',
                      parsley-type='email', placeholder='email')
          | &nbsp
          input.index(type='password', name='password',
                      placeholder='password', autocomplete='off',
                      parsley-minlength='5')
          | &nbsp
          button#index(type='submit', name='login') Order now
    #fill-bottom
    include scripts
