nav.navbar.navbar-default(role='navigation')
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a(href='/')
      h1 nomm!
  #navbar-collapse.collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        | order
      li
        | food profile
      li
        | logout
